/*DESTACANDO O NOME QUANDO O CURSO DO MOUSE ESTIVER PISCANDO NO INPUT*/
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;/*DIMINUI O TAMANHO PARA O TOPO -20PX*/
    left: 0px;/*SE COLOCA POSICIONADO TODO NA ESQUERDA*/
    color: #ff0043;
    font-size: 12px;/*FICA DO TAMANHO ORIGINAL PARA O TAMANHO DE 12 PX*/
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff0043;
    font-size: 16px;
    text-decoration: none;/*REMOVE A LINHA DE BAIXO DO TEXTO*/
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;/*TRANSIÇÃO DE MOVIMENTO DE 5S*/
    margin-top: 40px;
    letter-spacing: 4px;/*ESPAÇAMENTO ENTRE AS LETRAS*/
}